:root {
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui;
  background-color: canvas;
  color: canvastext;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}
